/vim/bundle/*
/tag-nvim/config/nvim/undodir/*
/tag-nvim/config/nvim/backups/*
nvim-undo/*
nvim-backup/*
/vim/sessions/*
.tmuxinator/*.yml
!default.yml
vim/vim/.netrwhist
!*.keep
Brewfile.lock.json
tags
.ruby-version
