[user]
	name = CHANGE_NAME
	email = CHANGE_EMAIL
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[core]
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	quotepath = false
	excludesfile = ~/.gitignore
	ff = only
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
  log = log --abbrev-commit
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lolauth = log --graph --decorate --pretty=short --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolaauth = log --graph --decorate --pretty=short --abbrev-commit --all
	mg = merge --no-ff
	unstage = reset HEAD
	up = pull --rebase
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep \"^[[:lower:]]\"
	a = add --patch
	lgg = log --oneline
	undo = reset --soft HEAD^
	tags = tag --list
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[branch]
	autosetupmerge = true
[init]
	templatefir = ~/.git_template
[github]
	user = CHANGE_GITHUB
[merge]
	tool = vimdiff
[web]
	browser = firefox
[credential]
	helper = cache --timeout=3600
[push]
	default = matching
