// Solarized Dark theme for Zellij
// Author: Ethan Schoonover (colors), adapted for Zellij
// Mirrors: config/kitty/themes/solarized-dark.conf

themes {
    solarized-dark {
        fg "#839496"        // base0 - primary content
        bg "#002b36"        // base03 - background
        black "#073642"     // base02 - darker background
        white "#eee8d5"     // base2 - emphasized content
        red "#dc322f"       // solarized red
        green "#859900"     // solarized green
        yellow "#b58900"    // solarized yellow
        blue "#268bd2"      // solarized blue
        magenta "#d33682"   // solarized magenta
        orange "#cb4b16"    // solarized orange
        cyan "#2aa198"      // solarized cyan
    }
}
